<!DOCTYPE html>
<html>
<head>

</head>
<body>

  <div class="row" style="margin-top: 45px"> 
    <div class="col-md-7 offset-1">
      <h2>-HOla, pa tii mi cola</h2>
      
    </div>
  </div>

</body>
</html>
